# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410000000,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343910000000,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005070000000,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149250000000,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908450000000,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [5]:
#  1. Get the total rides for each city type
total_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

In [6]:
# 2. Get the total drivers for each city type
total_driver_count = pyber_data_df.groupby(["type"]).sum()["driver_count"]

In [7]:
#  3. Get the total amount of fares for each city type
total_fare = pyber_data_df.groupby(["type"]).sum()["fare"]

In [8]:
#  4. Get the average fare per ride for each city type. 
average_total_ride = (total_fare / total_ride_count)

In [9]:
# 5. Get the average fare per driver for each city type. 
average_total_drivers = (total_fare / total_driver_count)

In [10]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides": total_ride_count,
    "Total Drivers": total_driver_count,
    "Total Fares": total_fare,
    "Average Fare per Ride": average_total_ride,
    "Average Fare per Driver": average_total_drivers
})

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [11]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [12]:
#  8. Format the columns.
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,"$4,327.93",$34.62,$8.06
Suburban,625,8570,"$19,356.33",$30.97,$2.26
Urban,1625,59602,"$39,854.38",$24.53,$0.67

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [13]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
sum_fares = pyber_data_df.groupby(["type", "date"]).sum()[["fare"]]

sum_fares.head()

                        fare
type  date
Rural 1/1/2019 9:45    43.69
      1/11/2019 4:39   16.42
      1/14/2019 15:58  54.10
      1/14/2019 7:09   18.05
      1/15/2019 21:44  30.26

In [14]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
sum_fares = sum_fares.reset_index()

sum_fares.head()

    type             date   fare
0  Rural    1/1/2019 9:45  43.69
1  Rural   1/11/2019 4:39  16.42
2  Rural  1/14/2019 15:58  54.10
3  Rural   1/14/2019 7:09  18.05
4  Rural  1/15/2019 21:44  30.26

In [15]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
sum_fares_pivot = sum_fares.pivot(index="date", columns="type", values="fare")

sum_fares_pivot.head()

type            Rural  Suburban  Urban
date
1/1/2019 0:08     NaN       NaN  37.91
1/1/2019 0:46     NaN     47.74    NaN
1/1/2019 12:32    NaN     25.56    NaN
1/1/2019 14:40    NaN       NaN   5.42
1/1/2019 14:42    NaN       NaN  12.31

In [16]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
sum_fares_dates = sum_fares_pivot.loc["1/1/2019":"4/29/2019"]

sum_fares_dates.head()

type            Rural  Suburban  Urban
date
1/1/2019 0:08     NaN       NaN  37.91
1/1/2019 0:46     NaN     47.74    NaN
1/1/2019 12:32    NaN     25.56    NaN
1/1/2019 14:40    NaN       NaN   5.42
1/1/2019 14:42    NaN       NaN  12.31

In [17]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
sum_fares_dates.index = pd.to_datetime(sum_fares_dates.index)
sum_fares_dates

type                 Rural  Suburban  Urban
date
2019-01-01 00:08:00    NaN       NaN  37.91
2019-01-01 00:46:00    NaN     47.74    NaN
2019-01-01 12:32:00    NaN     25.56    NaN
2019-01-01 14:40:00    NaN       NaN   5.42
2019-01-01 14:42:00    NaN       NaN  12.31
...                    ...       ...    ...
2019-04-28 04:34:00    NaN       NaN  40.46
2019-04-28 08:15:00    NaN       NaN  22.86
2019-04-28 09:03:00    NaN       NaN  15.00
2019-04-28 09:10:00    NaN       NaN   5.73
2019-04-28 09:25:00    NaN       NaN  37.35

[2057 rows x 3 columns]

In [18]:
# 14. Check that the datatype for the index is datetime using df.info()
sum_fares_dates.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2057 entries, 2019-01-01 00:08:00 to 2019-04-28 09:25:00
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rural     105 non-null    float64
 1   Suburban  538 non-null    float64
 2   Urban     1416 non-null   float64
dtypes: float64(3)
memory usage: 64.3 KB

In [19]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
sum_fares_week_df = sum_fares_dates.resample("W").sum()

sum_fares_week_df.head()

type         Rural  Suburban    Urban
date
2019-01-06  187.92    721.60  1661.68
2019-01-13   67.65   1105.13  2050.43
2019-01-20  306.00   1218.20  1939.02
2019-01-27  179.69   1203.28  2129.51
2019-02-03  333.08   1042.79  2086.94

In [24]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
x_labels = ["Jan 2019", "Feb", "Mar", "April"]

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

ax.set_title("Total Fare by City Type")
ax.set_ylabel("Fare ($USD)")

plt.savefig("analysis/PyBer_fares_summary.png")
plt.show()

KeyError: "None of [Index(['date'], dtype='object', name='type')] are in the [columns]"